<h1>年間トレーニングカレンダー</h1>

<% if params[:date].blank? %>
    <h3><%= params[:date] %>の消費カロリー合計</h3>

    <div class="custom-yearly-calendar">
        <% 11.downto(0) do |i| %>
            <% start_date = Date.today.beginning_of_month.prev_month(i) %>
            <div class="calendar-month">
                <%= month_calendar(attribute: :date, start_date: start_date, events: @workouts) do |date, workouts| %>
                    <%= date.day %>
                    <%
=begin%>
 <% if workouts.present? %>
                        <% calories_day = 0 %>
                        <% i = 0 %>
                        <% workouts.each do |workout| %>
                            <% calories_day += workout.calories %>
                            <% i += 1 %>
                        <% end %>
                        <%= "データ数:#{i}, 消費カロリー:#{calories_day}" %>
                    <% end %> 
<%
=end%>
                <% end %>
            </div>
        <% end %>
    </div>
<% end %>