<h1><%= @current_user.name %>さんマイページ</h1>


<h2>今日のトレーニング記録</h2>
    <p>もし、今日のトレーニング記録がなかった場合は、トレーニングの新規投稿ボタンを表示する。</p>

<h2>今月のトレーニング記録</h2>

<h2>アカウント設定</h2>
<h3> <%= link_to("登録情報確認", "") %> </h3>
<h3> <%= link_to("登録情報編集", "") %> </h3>
<h3> <%= link_to("アカウント消去", "") %> </h3>
