<h1>カロリー計算について</h1>

<p class="text">
    当アプリではMets値を利用したカロリー計算の手法を採用しています。
</p>

<h2>Mets値とは</h2>
<p class="text">
    Metsとは、エクササイズや運動がどれだけエネルギーを使うかを示す指標です。<br>
    1Metsというのは、何もしないで座ってリラックスしている状態で消費するエネルギーのことを指します。<br>
    <br>
    たとえば、ある運動が4METsと示されているとしたら、それは座っているだけの状態に比べて、
    その運動をするときは4倍のエネルギーを使うということを意味します。<br>
    <br>
    当アプリでは、レッグプレス、チェストプレスなど、様々なトレーニングが
    何Metsに相当するのかを、『運動のきつさ』ごとに定義してあり、それを元にカロリー計算を行っています。<br>
    <br>
</p>

<h2>計算式</h2>

<p class="text">

    一般的に、Mets値を利用したカロリー計算は以下の計算式が利用されます。<br><br>

    消費カロリー(kcal) <br>
    &nbsp; = Mets × 体重（kg）× 時間(h) × 1.05<br><br>

</p>

<h2>計算の具体例</h2>

<div>
    <h3>下記の条件で計算をします</h3><br>
    <ul>
        <li>・体重:60kg</li>
        <li>・運動項目:レッグプレス</li>
        <li>・回数:20回</li>
        <li>・トレーニング速度:ノーマル(1回3秒)</li>
        <li>・運動強度:きつい</li>
    </ul>
</div>

<h3>数値代入</h3><br>
<div>
    8(Mets) × 60(kg) × (3秒 * 20回)/3600 × 1.05<br>
    =8.4(kcal)
    <br>
</div>

<h2>注意</h2>
<p class="text">
    これらのMetsはあくまで一般的な目安であり、実際のエネルギー消費量は、運動の仕方や個々の体力、
    体型などによって異なるため、当アプリで算出された数値は参考程度にしてください。
</p>
