<div class="top">
    
    <div class="top-image">
        <%= image_tag "hero-image", alt: "hero-image", class: "hero-image" %>
    </div>

    <div class="main">
        トップメニューにコンテンツ一覧を表示する
    </div>

</div>