

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.clear{
    clear: both;
}


.simple-calendar .has-events{
  background-color: yellowgreen;
}
.simple-calendar .today{
  background-color: rgb(250, 250, 98);
}
.simple-calendar .calendar-heading a{
  display: none;
}

.custom-yearly-calendar .calendar-month{
  display: inline-block;
}




.header-left{
  float: left;
  width: 50%;
  height: 100px;
  background-color: #000;
  color: #fff;
  text-align: center;
  line-height: 100px;
  font-size: 30px;
  font-weight: bold;
}

.header-right{
  float: right;
  width: 50%;
  height: 100px;
  background-color: #000;
  color: #fff;
  text-align: center;
  line-height: 100px;
  font-size: 30px;
  font-weight: bold;
}


.footer-left{
  float: left;
  width: 50%;
  height: 100px;
  background-color: #000;
  color: #fff;
  text-align: center;
  line-height: 100px;
  font-size: 30px;
  font-weight: bold;
}
.footer-right{
  float: right;
  width: 50%;
  height: 100px;
  background-color: #000;
  color: #fff;
  text-align: center;
  line-height: 100px;
  font-size: 30px;
  font-weight: bold;
}