
/* アプリ全体に適用するcss ----------------------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
  background-color: #f8f4e6;
  /* background-color: beige; */
}
.clear{
    clear: both;
}
.center{
  text-align: center;
}
.error_messages{
  margin-bottom: 50px;
  color: rgb(255, 100, 100);
}
.notice{
  text-align: center;
  font-size: 20px;
  height: 80px;
  line-height: 80px;
  vertical-align: middle;

  margin-bottom: 50px;
  background-color: #9eccf2;
}

/* ボタンのcss--------------------- */
.button{
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  margin: 30px auto;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
  text-align: center;
}
.mini-button{
  font-size: 1rem;
  line-height: 1.2em;
  text-decoration: none;

  border: 1px solid rgba(0, 0, 0, .5);
  border-radius: 0.5rem;
  text-align: center;

  position: relative;
  display: inline-block;

  padding: 0.1rem 1.5rem;

  background: #f1e767;
  background: -webkit-linear-gradient(top, #f1e767 0%, #feb645 100%);
  background: linear-gradient(to bottom, #f1e767 0%, #feb645 100%);
}
.mini-button:hover {/*hover時に色反転*/
  background: -webkit-linear-gradient(bottom, #f1e767 0%, #feb645 100%);
  background: linear-gradient(to top, #f1e767 0%, #feb645 100%);
}
.blue-gradient {
  -webkit-transform: skew(-15deg);
  transform: skew(-15deg);
  border: 2px solid #e2f3ff;
  color: #fff;
  border-radius: 0;
  background-image: -webkit-linear-gradient(left, #2af598 0%, #009efd 100%);
  background-image: linear-gradient(90deg, #2af598 0%, #009efd 100%);
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}

.blue-gradient:hover {
  -webkit-transform: skew(0);
  transform: skew(0);
  color: #fff;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}

.red-gradient {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 0;
  background-image: -webkit-linear-gradient(left, #fa709a 0%, #fea540 100%);
  background-image: linear-gradient(to right, #fa709a 0%, #fea540 100%);
  -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, .5);
  box-shadow: 0 8px 15px rgba(0, 0, 0, .5);
}
/* #fee140 */
.red-gradient:hover {
  -webkit-transform: translate(0, 2px);
  transform: translate(0, 2px);
  color: #fff;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
}
.orange-gradient {
  background: #f1e767;
  background: -webkit-linear-gradient(top, #f1e767 0%, #feb645 100%);
  background: linear-gradient(to bottom, #f1e767 0%, #feb645 100%);
}
.orange-gradient:hover {
  background: -webkit-linear-gradient(bottom, #f1e767 0%, #feb645 100%);
  background: linear-gradient(to top, #f1e767 0%, #feb645 100%);
}
/* ボタンのcssとnoticeの背景色や形を考える */

/* 見出しのcss -----------------------------*/
h1{
  padding: 1rem 2rem;
  margin: 30px auto;
  -webkit-transform: skew(-15deg);
  transform: skew(-15deg);
  color: #fff;
  background-image: -webkit-linear-gradient(left, #209cff 0%, #68e0cf 100%);
  background-image: linear-gradient(to right, #209cff 0%, #68e0cf 100%);
}
h2 {
  position: relative;
  padding: 1rem .5rem;
  margin: 30px auto;
}

h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  content: '';
  border-radius: 3px;
  background-image: -webkit-linear-gradient(right, #2af598 0%, #009efd 100%);
  background-image: linear-gradient(to left, #2af598 0%, #009efd 100%);
}

h3 {
  position: relative;
  padding: 0.5rem;
  display: inline-block;
  margin: 30px auto;
}

h3:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8px;
  content: '';
  background-image: -webkit-repeating-linear-gradient(135deg, #009efd, #009efd 1px, transparent 2px, transparent 5px);
  background-image: repeating-linear-gradient(-45deg, #009efd, #009efd 1px, transparent 2px, transparent 5px);
  background-size: 7px 7px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

ul li{
  list-style: none;
}

/* pタグなどに利用する文章を格納する要素に利用するcss */
.text{
  text-indent: 1em;
  text-align: justify
}



/* ヘッダー用のcss --------------------------------*/
header{
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: 100px;
  max-width: 1300px;
  min-width: 320px;
  padding: 0 10px;
  margin: auto;
  /* background-color: #f8f4e6; */
}

.logo{
  object-fit: cover;
}
/* ハンバーガーメニューのcss---------------------- */
.hamburger-button {
  display: none;
  cursor: pointer;
  height: 30px;
  width: 30px;

  margin-left: auto;

  position: relative;
}

.hamburger-button span {
  background-color: #333;
  height: 2px;
  left: 0;
  position: absolute;
  transition: all 0.3s ease;
  width: 100%;
}

.hamburger-button span:nth-child(1) {
  top: 0;
}

.hamburger-button span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.hamburger-button span:nth-child(3) {
  bottom: 0;
}
.hamburger-button .hamburger-button-text {
  background-color: #f8f4e6;
  height: 8px;
  bottom: -10px;
  font-size: 8px;
  line-height: 8px;
  text-align: center;
}

.hamburger-button.active span:nth-child(1) {
  transform: rotate(45deg) translate(10px, 10px);
}
.hamburger-button.active span:nth-child(2) {
  opacity: 0;
}
.hamburger-button.active span:nth-child(3) {
  transform: rotate(-45deg) translate(10px, -10px);
}

.hamburger-menu-items{
  display: none;
  background-color: rgb(237, 251, 255);
  
  position: absolute;
  top: 80px;

  text-align: center;
  width: 100vw;
  z-index: 10;
}
.hamburger-item a{
  text-decoration: none;
}


/* メインコンテンツ用のcss ------------------------------ */
main{
  position: relative;
  width: 95%;
  max-width: 1200px;
  margin: auto;
  box-shadow:rgba(0, 0, 0, 0.1)
}

.main-content{
  display: block;
  float: left;

  width: 75%;
  min-width: 320px;
  min-height: 600px;

  padding: 20px 30px 50px 30px;
  margin-right: 5%;

  background-color: white;
  box-shadow: 8px 8px 5px gray;
}

.sidebar{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  display: block;
  float: right;

  width: 20%;
  height: 100vm;

  padding: 30px 8px;

  background-color: rgb(237, 251, 255);
  box-shadow: 8px 8px 5px gray;
}
main .sidebar-heading{
  font-size: 20px;
  font-weight: bold;
}
.sidebar-item{
  font-size: 15px;
  margin-bottom: 20px;
}

/* スマホ対応用のcss ----------- */
@media (max-width: 720px) {
  main{
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }
  header{
    justify-content: center;
    height: 80px;
  }
  .logo{
    height: 80px;
    text-align: center;
    display: inline-block;
  }
  .main-content{
    width: 100%;
    margin: auto;
    float: none;
  }
  .sidebar{
    display: none;
  }
  .hamburger-button{
    display: block;
    text-align: right;
  }
  .hamburger-menu-items.show{
    display: block;
  }
}


/* ボトムナビゲーション用のcss---------------------------- */
.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  /* background-color: #f8f9fa; */
  background-color: rgb(126, 247, 239);
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

/* フッター用のcss -------------------------------- */
.footer{
  width: 100%;
  max-width: 1300px;
  padding: 0 10px;
  margin: 60px auto;

  display: flex;
  justify-content: space-around;
  flex-direction: column;

  align-items: center;
}
.footer-logo{
  max-width: 300px;
  margin-bottom: 20px;
}
.footer-items{
  max-width: 300px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-items li{
  list-style: square;
}
.footer-items a{
  text-decoration: none;
}
/* top.html.erbのcss-------------- */
.hero-image{
  width: calc(100% + 2 * 30px);
  height: auto;
  margin-top: -20px;
  margin-left: -30px;
  margin-right: -30px;
}
.account-setting{
  padding: 20px 0;
}

.container{
  width: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.text-content, .image-content {
  width: calc(100% - 20px);
  margin: 10px;
}
.image-content{
  max-width: 550px;
  padding: 15px;
  margin: auto;
  background-color: #ddd; 
}
.image-content img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);  /* 黒色のシャドウ */
}
/* インプットフォームのcss--------------------------- */
.input_form{
  margin-left: 30px;
}

/* users/show.html.erbのcss-------------------------------- */
.users_show .field-label span{
  border-bottom: 2px solid rgb(126, 140, 247);
}
.field-content{
  text-indent: 1em;
}

/* workouts/new.html.erb, exercises#index.html のcss-------------------- */
.field{
  margin-bottom: 20px;
}
.date-field{
  font-size: 1rem;
}
.workouts_new a, .exercises-index a{
  text-decoration: none;
}

.workouts_new select, .workouts_edit select{
  font-size: 1rem;
}
.exercises{
  display: flex;
  flex-wrap: wrap;
}
.exercises .exercises-item{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;

  margin: 20px 1%;

  height: 140px;
  width: 23%;
  background-color: #2af598
}
@media(max-width: 520px){
  .exercises .exercises-item{
    width: 31.33%
  }
}
/* トレーニング記録表示関連のcss-------------------- */
/* .item-heading{
  width: 300px;
} */
.item-container{
  display: inline-block;
  width: 220px;
  height: 250px;

  padding: 10px;
  margin: 0 10px 30px 10px;

  background-color: #e2f3ff;
  border-radius: 10px;
}
.item-name{
  display: inline-block;
  width: 100px;
  text-align: left;
}
.item-value{
  display: inline-block;
  width: 100px;
}
.link_button{
  text-align: right;
  margin-top: 20px;
}
.link_button a{
  text-decoration: underline;
}

/* workouts/show.html.erbのcss-------------------- */
.workouts_show .item-container{
  width: 320px;
}
.workouts_show .item-name{
  width: 180px;
}
.workouts_show .item-value{
  width: 120px;
}
@media (max-width: 450px) {
  .workouts_show .item-container{
    width: 280px;
    margin: 0 0 30px 0;

    /* position: relative;
    top: 0%;
    left: 50%;
    transform: translateX(-50%); */
  }
  .workouts_show .item-name{
    width: 160px;
  }
  .workouts_show .item-value{
    width: 100px;
  }
}
