/*simple-calendarのデフォルトcssを適用*/
/*
  *= require simple_calendar
*/



/* simple-calendarのデフォルトcssに追加したい部分を記述 */
.simple-calendar .has-events{
    background-color: yellowgreen;
  }
  .simple-calendar .today{
    background-color: rgb(250, 250, 98);
  }
  .simple-calendar .calendar-heading a{
    display: none;
  }
  .simple-calendar table{
    width: 100%;
    margin: 0 auto;
  }
  .simple-calendar table .next-month, .simple-calendar table .prev-month{
    background-color: #DDD;
  }
  



/* 年間トレーニング履歴を表示するためのレイアウトを整える */
.custom-yearly-calendar{
    margin: 100px auto;
    max-width: 1200px;
}
.custom-yearly-calendar .custom-month-calendar{
display: block;
text-align: center;
width: 25%;
padding: 0 10px;
font-size: 16px;
height: 250px;
float: left;
}
.custom-yearly-calendar .calendar-title{
display: none;
}

.calories-display{
    text-align: right;
}



/* スマホ用のスタイル */
/* PC用は1行に4ヶ月分表示 */
/* タブレット用は1行に3ヶ月分表示 */
/* スマホ用は1行に2ヶ月分表示 */

@media (max-width: 960px){
    .custom-yearly-calendar .custom-month-calendar{
        width: 33.333%;
    }
}


@media (max-width: 550px) {
    /*1月分を表示しているページのカレンダーレイアウトをスマホ対応用に調整*/
    .month-calendar .simple-calendar{
        margin-left: calc(-50vw + 50%);
        width: 100vw;
        font-size: 12px;
    }
    /*年間トレーニング履歴を表示するためのレイアウトをスマホ対応用に整える*/
    .custom-yearly-calendar{
        margin-left: calc(-50vw + 50%);
        margin-top: 50px;
        margin-bottom: 50px;
        width: 100vw;
    }
    .custom-yearly-calendar .custom-month-calendar{
      width: 50%;
      height: 200px;
      font-size: 12px;
    }
  }
  