<div class="exercises-index">
    <h1>トレーニング項目一覧</h1>

    <h2>当アプリの対応トレーニング</h2>

    <h3>マシントレーニング</h3><br>

    <div class="exercises">
        <% @exercises.each do |exercise| %>
            <%= link_to("#{exercise.name}", exercise_path(exercise), class: "exercises-item red-gradient") %>
        <% end %>
    </div>

    <%#
    <h2>有酸素運動</h2>
    <h2>自重トレーニング</h2> 
    %>
</div>